PORT=3001
NODE_ENV=development

FRONTEND_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:admin@localhost:5432/dialog
JWT_SECRET=2d328e23-c2c8-4783-a23c-9ec7b760f5b7
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=